main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    border: 4px solid pink;
    padding: 8px;
}